openapi: 3.0.3
info:
  title: Swagger InfoIJobs - OpenAPI 3.0
  description: |-
    InfoIJobs

    To send requests with custom data, use only the "Request Body" but beware, the swagger behaves strangely on execute and possible will not request correctly.
    Check the parameters and schemas as reference, DO NOT try to use the swagger to create new data

    Some useful links:
    - [Back end repository](https://github.com/jobifull/jobifull-app-backend)


    API responses have a pattern:
    ---------------------------------------------------
    Sucesso ->
    status: 200
    data: Informação retornada

    Erro na passagem de parâmetros ->
    status: 400
    message: Descrição do status

    Erro de Autenticação ->
    status: 401
    message: Descrição do status

    Erro de Permissão ->
    status: 403
    message: Descrição do status

    Não encontrado ->
    status: 404
    message: Descrição do status

    Erro no sistema ->
    status: 500
    message: Descrição do erro
    ---------------------------------------------------
    All request different than "GET" methods must include a Bearer token!
    ---------------------------------------------------
    Except:   /api/login  &  /api/register
    ---------------------------------------------------

  termsOfService: http://swagger.io/terms/
  contact:
    email: nickolasbini@hotmail.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://api.jobifull.eu/
tags:
  - name: auth
    description: Authentication routes and methods
  - name: person
    description: Person routes and methods
  - name: professional
    description: Professional routes and methods
  - name: company
    description: Company routes and methods
  - name: recruiter
    description: Recruiter routes and methods
  - name: joblist
    description: Job routes and methods
  - name: curriculum
    description: Curriculum routes and methods
  - name: skill - curriculum
    description: Skill routes and methods
  - name: visa - curriculum
    description: Visa routes and methods
  - name: link - curriculum
    description: Link routes and methods
  - name: commom_currency
    description: Common currency routes and methods
  - name: job_applied
    description: Job applied routes and methods
  - name: chat_message
    description: Chat message routes and methods
paths:
  /api/login:
    post:
      tags:
        - auth
      summary: Perform login to retrieve a token
      description: Get a JWT via given credentials
      parameters:
        - name: email
          in: query
          description: Person email
          required: true
          example: person@email.com
          schema:
            type: string
        - name: password
          in: query
          description: Person password
          required: true
          example: password
          schema:
            type: string
        - name: personType
          in: query
          description: Either professional, recruiter or company | This saves the last entry login type
          schema:
            type: string
      requestBody:
        description: Perform login
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Login'
        required: true
      responses:
        '200':
          description: Login successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginWithSuccess'
        '400':
          description: Parameters missing or invalid
          content:
            application/json:
              example:
                message: invalid email
        '401':
          description: Invalid credentials
          content:
            aplication/json:
              example:
                message: invalid credentials
  /api/register:
    post:
      tags:
        - auth
      summary: Creates a new person account
      parameters:
        - name: person_username
          in: query
          description: Person name
          required: true
          example: john
          schema:
            type: string
        - name: person_email
          in: query
          description: Person email
          required: true
          example: person@email.com
          schema:
            type: string
        - name: person_password
          in: query
          description: Person password - An uppercase and lowecase character, a number, a special character and more than 6 character length
          required: true
          example: myPassword
          schema:
            type: string
        - name: person_langue
          in: query
          description: Person language
          required: true
          example: 1
          schema:
            type: integer
        - name: person_ddi
          in: query
          description: Person ddi
          schema:
            type: string
        - name: person_phone
          in: query
          description: Person phone
          schema:
            type: string
      requestBody:
        description: Perform login
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterPerson'
        required: true
      responses:
        '200':
          description: Login successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginWithSuccess'
        '400':
          description: Invalid sent parameters or language not found
          content:
            application/json:
              examples:
                Parameters:
                  value:
                    message: The person email field must be a valid email address. (dynamic response)
                Language:
                  value:
                    message: language not found
        '500':
          description: Person not registred on server
          content:
            application/json:
              example:
                data: person not created
  /api/profile:
    post:
      tags:
        - auth
      summary: Get the authenticated User
      parameters:
        - in: header
          name: Bearer
          schema:
            type: string
            format: uuid
            example: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJI
          required: true
      responses:
        '200':
          description: Login successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profiles'
        '401':
          description: Authentication error
          content:
            application/json:
              examples:
                no token:
                  value:
                    message: token not provided
                  summary: No token provided
                invalid token:
                  value:
                    message: invalid token
                  summary: Token is not valid

  /api/requestchangepassword:
    post:
      tags:
        - auth
      summary: Request a change password code which will be sent to logged Person email
      parameters:
        - in: query
          name: email
          schema:
            type: string
            example: emailToReceiveEmail@email.com
          required: true
      responses:
        '200':
          description: Email containing password change code sent
          content:
            application/json:
              example: {"message": "email sent"}
        '500':
          description: Authentication error
          content:
            application/json:
              example: {"message": "email not sent"}
  /api/changepassword:
    post:
      tags:
        - auth
      summary: Changes logged Person password. Code will only be usable once
      parameters:
        - in: query
          name: email
          schema:
            type: string
            example: emailOfPerson@email.com
          required: true
        - name: code
          in: query
          description: The received code at email
          required: true
          example: 123456
          schema:
            type: string
        - name: newPassword
          in: query
          description: Person new password
          required: true
          example: Password1@
          schema:
            type: string
      # requestBody:
      #   description: Change password
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/ChangePassword'
      #   required: true
      responses:
        '200':
          description: Person password was updated
          content:
            application/json:
              example: {"message": "password updated"}
        '400':
          description: Save error
          content:
            application/json:
              examples:
                invalid code:
                  value:
                    message: invalid code
                  summary: Code is invalid
                invalid password:
                  value:
                    message: invalid password
                  summary: The password does not match requirements (An uppercase and lowecase character, a number, a special character and more than 6 character length)
        '500':
          description: Save error
          content:
            application/json:
              example: {"message": "password not saved"}

  /api/person/update:
    post:
      tags:
        - person
      summary: Updates logged person account
      parameters:
        - in: query
          name: person_email
          schema:
            type: string
            example: emailOfPerson@email.com
        - name: person_username
          in: query
          description: Person user name
          example: john
          schema:
            type: string
        - name: person_ddi
          in: query
          description: Person DDI code
          example: +55
          schema:
            type: string
        - name: person_phone
          in: query
          description: Person Phone
          example: 41981716151
          schema:
            type: string
        - name: person_langue
          in: query
          description: Language from ListLanguages
          example: 1
          schema:
            type: integer

      # requestBody:
      #   description: Change password
      #   content:
      #     application/json:
      #       schema:
      #         $ref: '#/components/schemas/ChangePassword'
      #   required: true
      responses:
        '200':
          description: Person data updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonObject'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                invalid parameters:
                  value:
                    message: invalid email
                  summary: The person email field must be a valid email address. (dynamic response)
                invalid email:
                  value:
                    message: invalid email
                  summary: Email in use
        '500':
          description: Save error
          content:
            application/json:
              example: {"message": "person not updated"}

  /api/professional/find/{professional_slug}:
    get:
      tags:
        - professional
      summary: Get a professional information by its slug
      description: Returns information of professional
      parameters:
        - name: professional_slug
          in: path
          schema:
            type: string
          description: Professional id
          example: professional-571591591
          required: true
      responses:
        '200':
          description: A list of professionals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProfessionalPaginated'
  /api/professional/index:
    get:
      tags:
        - professional
      summary: List all professionals
      description: retrieves a list of professionals with optional filters.
      parameters:
        - name: professional_id
          in: query
          schema:
            type: integer
          description: Professional id
          example: 1
        - name: skill_name
          in: query
          description: Array of tags (skills) id
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                skill_name:
                  type: integer
                  example: 1
        - name: skproficiency_level
          in: query
          description: Array of profeciencies ids of category = 'level' | The position on array matches the skill_name attribute
          example: 3
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                skproficiency_level:
                  type: integer
                  example: 1
        - name: area_of_study
          in: query
          description: Array area of study id from professional experiences
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                area_of_study:
                  type: integer
                  example: 1
        - name: dpgender
          in: query
          description: Array of gender id
          example: 3
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                dpgender:
                  type: integer
                  example: 1
        - name: dpcity_id
          in: query
          description: Array of professional city id from ListCity
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                dpcity_id:
                  type: integer
                  example: 1
        - name: dpstate_id
          in: query
          description: Array of professional state id from ListState
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                dpstate_id:
                  type: integer
                  example: 1
        - name: dpcountry_id
          in: query
          description: Array of professional country id from ListCountry
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                dpcountry_id:
                  type: integer
                  example: 1
        - name: lalangue_id
          in: query
          description: Array of professional language id from ListLanguage
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                lalangue_id:
                  type: integer
                  example: 1
        - name: laspeaking_level
          in: query
          description: Array of proficiency id of category = 'language' id from ListLanguage | The position on array matches the lalangue_id attribute to set the speaking profeciency at the language
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                laspeaking_level:
                  type: integer
                  example: 1
        - name: lalistening_level
          in: query
          description: Array of proficiency id of category = 'language' id from ListLanguage | The position on array matches the lalangue_id attribute to set the listening profeciency at the language
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                lalistening_level:
                  type: integer
                  example: 1
        - name: lawriting_level
          in: query
          description: Array of proficiency id of category = 'language' id from ListLanguage | The position on array matches the lalangue_id attribute to set the writing profeciency at the language
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                lawriting_level:
                  type: integer
                  example: 1
        - name: lareading_level
          in: query
          description: Array of proficiency id of category = 'language' id from ListLanguage | The position on array matches the lalangue_id attribute to set the reading profeciency at the language
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                lareading_level:
                  type: integer
                  example: 1
        - name: visa_type
          in: query
          description: Array of TypeVisa id
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                visa_type:
                  type: integer
                  example: 1
        - name: vicountry_id
          in: query
          description: Array of ListCountry id | The position on array matches the visa_type attribute to set the country of it
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                vicountry_id:
                  type: integer
                  example: 1
        - name: certification_name
          in: query
          description: The certifcation name from the professional Certifications 
          example: php 9
          schema:
            type: string
        - name: exjob_title
          in: query
          description: The experience from the professional Experiences
          example: backend developer
          schema:
            type: string
        - name: page
          in: query
          description: The page for list (max 100 record per page)
          example: 1
          schema:
            type: integer
      responses:
        '200':
          description: A list of professionals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProfessionalPaginated'
  /api/professional/update:
    post:
      tags:
        - professional
      summary: Updates logged person Professional account
      parameters:
        - in: query
          name: professional_email
          schema:
            type: string
            example: emailOfPerson@email.com
        - name: professional_firstname
          in: query
          description: Professional first name
          example: john
          schema:
            type: string
        - name: professional_lastname
          in: query
          description: Professional last name
          example: john
          schema:
            type: string
        - name: professional_title
          in: query
          description: Professional title
          example: +55
          schema:
            type: string
        - name: professional_phone
          in: query
          description: Person Phone
          example: 41981716151
          schema:
            type: string
        - name: professional_photo
          in: query
          description: Professional profile photo - 2MB size allowed!
          example: base64image
          schema:
            type: string
        - name: professional_cover
          in: query
          description: Professional cover photo - 2MB size allowed!
          example: base64image
          schema:
            type: string
      responses:
        '200':
          description: Person data updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonObject'
        '400':
          description: Invalid parameters
          content:
            application/json:
              example: {"message": "The professional email field must be a valid email address. (dynamic response)"}

        '500':
          description: Save error
          content:
            application/json:
              examples:
                professional not found:
                  value:
                    message: No professional was found
                  summary: The professional was not created
                professional not updated:
                  value:
                    message: Professional was not updated
                  summary: Professional not updated
  /api/professional/updateprofessionalperson:
    post:
      tags:
        - professional
      summary: Updates logged person DataPerson account
      parameters:
        - in: query
          name: dpdate_of_birth
          schema:
            type: string
            example: 2024-01-01
            description: Professional date of birth
        - name: dpgender
          in: query
          description: Gender id
          example: 1
          schema:
            type: string
        - name: dpcity_id
          in: query
          description: City id  - must belong to sent state id
          example: 1
          schema:
            type: string
        - name: dpstate_id
          in: query
          description: State id - must belong to sent country id
          example: 1
          schema:
            type: string
        - name: dppostal_code
          in: query
          description: Post code
          example: 70213241
          schema:
            type: string
        - name: dpcountry_id
          in: query
          description: Country id
          example: 1
          schema:
            type: string
      responses:
        '200':
          description: Person data updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPersonObject'
        '400':
          description: Save error or professional not found
          content:
            application/json:
              examples:
                professional not found:
                  value:
                    message: No professional was found
                  summary: The professional was not created
                data person not updated:
                  value:
                    message: Professional was not updated
                  summary: Professional not updated
        '500':
          description: Invalid parameters
          content:
            application/json:
              example: {"message": "The professional email field must be a valid email address. (dynamic response)"}
  /api/professional/updateprofessionaljobmodality:
    post:
      tags:
        - professional
      summary: Manages job modalities of professional, this method can ADD a new jobModality, REMOVE a current jobModality or LIST all jobModalities of professional
      parameters:
        - in: query
          name: action
          schema:
            type: string
            example: add (ADD or REMOVE or LIST)
            description: Either ADD, REMOVE or LIST
        - name: job_modality_id
          in: query
          description: The job modality id
          example: 1
          schema:
            type: string
            description: only required when 'action' = 'add'
      responses:
        '200':
          description: Person data updated
          content:
            application/json:
              example: {"message":"action performed", "data": "Array|Null"}
        '400':
          description: Save error or professional not found
          content:
            application/json:
              examples:
                invalid action:
                  value:
                    message: invalid action
                  summary: The action is invalid
                professional not found:
                  value:
                    message: No professional was found
                  summary: The professional was not created
        '500':
          description: The action was not completed
          content:
            application/json:
              example: {"message": "action not completed with success"}
  /api/professional/updateprofessionalprofession:
    post:
      tags:
        - professional
      summary: Manages porfessions of professional, this method can ADD a new profession, REMOVE a current profession or LIST all profession of professional
      parameters:
        - in: query
          name: action
          schema:
            type: string
            example: add (ADD or REMOVE or LIST)
            description: Either ADD, REMOVE or LIST
        - name: lprofession_id
          in: query
          description: The listprofessions
          example: 1
          schema:
            type: string
            description: only required when 'action' = 'add' AND 'revove'
      responses:
        '200':
          description: Professional data updated
          content:
            application/json:
              example: {"message":"action performed", "data": "Array|Null"}
        '400':
          description: required parameters missing or professional not found
          content:
            application/json:
              examples:
                invalid action:
                  value:
                    message: invalid action
                  summary: The action is invalid
                professional not found:
                  value:
                    message: No professional was found
                  summary: The professional was not created
        '500':
          description: The action was not completed
          content:
            application/json:
              example: {"message": "action not completed with success"}


  /api/company/update:
    post:
      tags:
        - company
      summary: Updates logged person Company account
      parameters:
        - in: query
          name: company_register_number
          schema:
            type: string
            example: 42.827.028/0001-47
            description: Company's licence number
        - name: company_name
          in: query
          description: Name of the company
          example: TimbersWood Unlimited
          schema:
            type: string
        - name: company_logo
          in: query
          description: Logo photo of company
          example: base64Image-51515
          schema:
            type: string
        - name: company_cover_photo
          in: query
          description: Cover photo of company
          example: base64Image-51515
          schema:
            type: string
        - name: company_type
          in: query
          description: Company type
          example: 1
          schema:
            type: string
        - name: company_video
          in: query
          description: The company video
          example: https://timbercompany.com/presentationvideo
          schema:
            type: string
        - name: company_email
          in: query
          description: The company's email
          example: company@company.com
          schema:
            type: string
        - name: company_phone
          in: query
          description: The company's phone
          example: +554198765432
          schema:
            type: string
        - name: company_website
          in: query
          description: Website of company
          example: https://timbercompany.com
          schema:
            type: string
        - name: company_description
          in: query
          description: Description of the company
          example: A timber type company
          schema:
            type: string
        - name: company_number_employees
          in: query
          description: The number of workers
          example: 11
          schema:
            type: integer
        - name: company_benefits
          in: query
          description: Text field for company benefits
          example: Many advantages such as...
          schema:
            type: string
      responses:
        '200':
          description: Person data updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataPersonObject'
        '400':
          description: Save error or professional not found
          content:
            application/json:
              examples:
                professional not found:
                  value:
                    message: No professional was found
                  summary: The professional was not created
                data person not updated:
                  value:
                    message: Professional was not updated
                  summary: Professional not updated
        '500':
          description: Invalid parameters
          content:
            application/json:
              example: {"message": "The professional email field must be a valid email address. (dynamic response)"}
  /api/company/manageadmin:
    post:
      tags:
        - company
      summary: Manages company admins, this method can ADD a new admin, REMOVE a current admin, GRANT privilegies and REVOKE privilegies of an admin. Only admins with privilegies can access!
      parameters:
        - in: query
          name: action
          description: Either "add", "remove", "grant" or "revoke"
          schema:
            type: string
            example: add
        - name: person_id
          in: query
          description: Person id to receive the action
          example: 1
          schema:
            type: integer
      responses:
        '200':
          description: Action performed
          content:
            application/json:
              example: {"message": "action performed"}
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                invalid action:
                  value:
                    message: invalid action
                  summary: The action sent is not valid
                person is invalid:
                  value:
                    message: person is invalid
                  summary: The perfon id is invalid
        '500':
          description: Save error or professional not found
          content:
            application/json:
              examples:
                company not found:
                  value:
                    message: company not found
                  summary: The company of logged person was not found
                action not performed:
                  value:
                    message: action not completed with success
                  summary: A problem occurred while performing the action
                no privilegies:
                  value:
                    message: you have no privilegies
                  summary: Logged person is not an admin or not an admin with privilegies
  /api/company/managerecruiter:
    post:
      tags:
        - company
      summary: Manages company recruiters, this method can ADD a new recruiter or REMOVE a current recruit. Only admins with privilegies can access!
      parameters:
        - in: query
          name: action
          description: Either "add", "remove"
          schema:
            type: string
            example: add
        - name: person_id
          in: query
          description: Person id to receive the action
          example: 1
          schema:
            type: integer
      responses:
        '200':
          description: Action performed
          content:
            application/json:
              example: {"message": "action performed"}
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                invalid action:
                  value:
                    message: invalid action
                  summary: The action sent is not valid
                person is invalid:
                  value:
                    message: person is invalid
                  summary: The perfon id is invalid
        '500':
          description: Save error or professional not found
          content:
            application/json:
              examples:
                company not found:
                  value:
                    message: company not found
                  summary: The company of logged person was not found
                action not performed:
                  value:
                    message: action not completed with success
                  summary: A problem occurred while performing the action
                no privilegies:
                  value:
                    message: you have no privilegies
                  summary: Logged person is not an admin or not an admin with privilegies

  /api/recruiter/update:
    post:
      tags:
        - recruiter
      summary: Updates logged person Recruiter account
      parameters:
        - in: query
          name: recruiter_photo
          schema:
            type: string
            example: base64Image-41415151
            description: Recruiter photo
      responses:
        '200':
          description: Recruiter data updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecruiterObject'
        '400':
          description: Save error or recruiter not found
          content:
            application/json:
              examples:
                no recruiter found:
                  value:
                    message: No recruiter was found
                  summary: The recruiter was not created
                invalid parameters:
                  value:
                    message: invalid image
                  summary: Invalid image
        '500':
          description: recruiter not updated
          content:
            application/json:
              example: {"message": "recruiter not updated"}


  /api/joblist/index:
    get:
      tags:
        - joblist
      summary: List all jobs
      description: retrieves a list of job with optional filters.
      parameters:
        - name: job_modality_id
          in: query
          description: Array of job modalities id
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                job_modality_id:
                  type: integer
                  example: 1
        - name: company_id
          in: query
          description: Array of companies id
          example: 3
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                company_id:
                  type: integer
                  example: 1
        - name: job_city
          in: query
          description: Array of job city id
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                job_city:
                  type: integer
                  example: 1
        - name: job_country
          in: query
          description: Array of job country id
          example: 3
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                job_country:
                  type: integer
                  example: 1
        - name: job_seniority
          in: query
          description: Array of proficiencies ids of category 'seniority'
          example: 1
          schema:
            type: array
            items:
              required:
                - test
              type: object
              properties:
                job_seniority:
                  type: integer
                  example: 1
        - name: job_salary_start
          in: query
          description: search for jobs with given starting salary
          example: 1527.20
          schema:
            type: number
        - name: job_salary_end
          in: query
          description: search for jobs with given ending salary
          example: 2700.20
          schema:
            type: number
        - name: job_description
          in: query
          description: search fro jobs with (like) this description
          example: php devoper
          schema:
            type: string
        - name: job_experience_description
          in: query
          description: search for the given experience
          example: +2 years how backend developer
          schema:
            type: string
        - name: experience_in_months_start
          in: query
          description: search for jobs with experience above sent experience_in_months_start
          example: 5
          schema:
            type: integer
        - name: experience_in_months_end
          in: query
          description: search for jobs with experience bellow sent experience_in_months_end
          example: 10
          schema:
            type: integer
        - name: page
          in: query
          description: The page for list (max 100 record per page)
          example: 1
          schema:
            type: integer
      responses:
        '200':
          description: A list of job
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobListPaginated'
  /api/joblist/{joblistId}:
    get:
      tags:
        - joblist
      summary: Search for job
      description: Search for a specific job by id
      parameters:
        - name: joblistId
          in: path
          description: Job id
          required: true
          example: 1
          schema:
            type: integer
      responses:
        '200':
          description: job found successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListShow'
        '404':
          description: job not found.
  /api/joblist/store:
    post:
      tags:
        - joblist
      summary: Create a new job
      parameters:
        - name: job_modality_id
          in: query
          description: Job modality id
          example: 8
          required: true
          schema:
            type: integer
        - name: job_country
          in: query
          description: List country id
          example: 10
          schema:
            type: integer
        - name: job_city
          in: query
          description: List city id | City must be located in the sent Country id
          example: 15
          schema:
            type: integer
        - name: job_seniority
          in: query
          description: Proficiency id of category = 'seniority'
          example: 1
          schema:
            type: string
        - name: job_salary
          in: query
          description: Work Payment
          example: 7200.52
          schema:
            type: number
        - name: job_description
          in: query
          description: Work desctiption
          example: We need a person who knows advanced flutter
          schema:
            type: string
        - name: experience_in_months
          in: query
          description: experience in months
          example: 2
          schema:
            type: integer
        - name: job_experience_description
          in: query
          description: free text field for job experience description
          example: 2+ As backend developer
          schema:
            type: string
        - name: job_benefits
          in: query
          description: free text field for job benefits
          example: food voucher and home office
          schema:
            type: string
      requestBody:
        required: true
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListShow'
      responses:
        '201':
          description: job created successfully.
        '400':
          description: Field entered incorrectly.
          content:
            application/json:
              example: {"message": "invalid parameters"}
        '500':
          description: Create error.
          content:
            application/json:
              example: {"message": "an error occurred while creating the job, please try again later"}
  /api/joblist/{jobListId}:
    put:
      tags:
        - joblist
      summary: Update a job by ID
      parameters:
        - name: jobListId
          in: path
          description: Job list id
          example: 1
          required: true
          schema:
            type: integer
        - name: job_modality_id
          in: query
          description: Job modality id
          example: 8
          required: true
          schema:
            type: integer
        - name: job_country
          in: query
          description: List country id
          example: 10
          schema:
            type: integer
        - name: job_city
          in: query
          description: List city id | City must be located in the sent Country id
          example: 15
          schema:
            type: integer
        - name: job_seniority
          in: query
          description: Proficiency id of category = 'seniority'
          example: 1
          schema:
            type: string
        - name: job_salary
          in: query
          description: Work Payment
          example: 7200.52
          schema:
            type: number
        - name: job_description
          in: query
          description: Work desctiption
          example: We need a person who knows advanced flutter
          schema:
            type: string
        - name: experience_in_months
          in: query
          description: experience in months
          example: 2
          schema:
            type: integer
        - name: job_experience_description
          in: query
          description: free text field for job experience description
          example: 2+ As backend developer
          schema:
            type: string
        - name: job_benefits
          in: query
          description: free text field for job benefits
          example: food voucher and home office
          schema:
            type: string
      requestBody:
        required: true
        content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobListShow'
      responses:
        '201':
          description: job updated successfully.
        '400':
          description: Field entered incorrectly.
          content:
            application/json:
              example: {"message": "invalid parameters"}
        '500':
          description: Update error.
          content:
            application/json:
              example: {"message": "an error occurred while updating the job, please try again later"}
  /api/joblist/{jobList_Id}:
    delete:
      tags:
        - joblist
      summary: Delete a job
      description: Delete a specific job by id
      parameters:
        - name: jobList_Id
          in: path
          description: job list id
          required: true
          example: 8
          schema:
            type: integer
      responses:
        '200':
          description: Job removed
          content:
            application/json:
              example: {"message": "job deleted sucessfully"}
        '404':
          description: Job not found
          content:
            application/json:
              example: {"message": "job not found"}
  /api/joblist/managelanguage/{jobList_Id}:
    post:
      tags:
        - joblist
      summary: Manage job visas
      description: Manages job visas, this method can ADD, REMOVE or LIST the job language(s). Only job owner company can use this method!
      parameters:
        - name: jobList_Id
          in: path
          description: job list id
          required: true
          example: 8
          schema:
            type: integer
        - name: action
          in: query
          description: Either 'add', 'remove' or 'list'
          required: true
          example: add
          schema:
            type: string
        - name: job_language_id
          in: query
          description: Jog language id
          required: false
          example: 8
          schema:
            type: integer
        - name: language_id
          in: query
          description: job list id
          required: false
          example: 8
          schema:
            type: integer
        - name: proficiency_id
          in: query
          description: Proficiency id of category = language
          required: false
          example: 1
          schema:
            type: integer
      responses:
        '200':
          description: Action performed
          content:
            application/json:
              example: {"message": "action performed", "data": "Array of JobVisas objects | null"}
        '404':
          description: Invalid parameters
          content:
            application/json:
              example: {"message": "invalid parameters dynamic message"}
        '500':
          description: Action error
          content:
            application/json:
              example: {"message":"action not performed"}
  /api/joblist/manageskills/{jobList_Id}:
    post:
      tags:
        - joblist
      summary: Manage job skills
      description: Manages job skills, this method can ADD, REMOVE or LIST the job skill(s). Only job owner company can use this method!
      parameters:
        - name: jobList_Id
          in: path
          description: job list id
          required: true
          example: 8
          schema:
            type: integer
        - name: action
          in: query
          description: Either 'add', 'remove' or 'list'
          required: true
          example: add
          schema:
            type: string
        - name: tag_id
          in: query
          description: Tag id
          required: false
          example: 8
          schema:
            type: integer
        - name: job_skill_id
          in: query
          description: Job skill id
          required: false
          example: 8
          schema:
            type: integer
      responses:
        '200':
          description: Action performed
          content:
            application/json:
              example: {"message": "action performed", "data": "Array of JobSkills objects | null"}
        '404':
          description: Invalid parameters
          content:
            application/json:
              example: {"message": "invalid parameters dynamic message"}
        '500':
          description: Action error
          content:
            application/json:
              example: {"message":"action not performed"}
  /api/joblist/managevisas/{jobList_Id}:
    post:
      tags:
        - joblist
      summary: Manage job visa
      description: Manages job visas, this method can ADD, REMOVE or LIST the job visa(s). Only job owner company can use this method!
      parameters:
        - name: jobList_Id
          in: path
          description: job list id
          required: true
          example: 8
          schema:
            type: integer
        - name: action
          in: query
          description: Either 'add', 'remove' or 'list'
          required: true
          example: add
          schema:
            type: string
        - name: visas_type_id
          in: query
          description: Tag id
          required: false
          example: 8
          schema:
            type: integer
        - name: country_id
          in: query
          description: Job skill id
          required: false
          example: 8
          schema:
            type: integer
        - name: job_visa_id
          in: query
          description: Job visa id
          required: false
          example: 8
          schema:
            type: integer
      responses:
        '200':
          description: Action performed
          content:
            application/json:
              example: {"message": "action performed", "data": "Array of JobVisas objects | null"}
        '404':
          description: Invalid parameters
          content:
            application/json:
              example: {"message": "invalid parameters dynamic message"}
        '500':
          description: Action error
          content:
            application/json:
              example: {"message":"action not performed"}


  /api/curriculum/curriculum:
    post:
      tags:
        - curriculum
      summary: Creates or Updates a curriculum
      parameters:
        - in: query
          name: curriculum_id
          schema:
            type: integer
            example: 1
            description: Only in case of an update
          required: false
        - in: query
          name: curriculum_file
          schema:
            type: string
            example: imageBase64|fileBase64
            description: File as base64 until 2MB
          required: true
        - in: query
          name: clengua_id
          schema:
            type: integer
            example: 1
            description: Language id
          required: true
      responses:
        '200':
          description: Email containing password change code sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Curriculum'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                curriculum not found:
                  value:
                    message: curriculum not found
                  summary: Curriculum not found
        '500':
          description: Authentication error
          content:
            application/json:
              example: {"message": "curriculum not created/updated"}
  /api/curriculum/curriculum/{curriculum_id}:
    get:
      tags:
        - curriculum
      summary: Display the specified Curriculum.
      parameters:
        - in: path
          name: curriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: Curriculum object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Curriculum'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                curriculum not found:
                  value:
                    message: curriculum not found
                  summary: Curriculum not found
  /api/curriculum/curriculum/{curriculumid}:
    delete:
      tags:
        - curriculum
      summary: Remove the specified curriculum and all related things.
      parameters:
        - in: path
          name: curriculumid
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: Response message
          content:
            application/json:
              example: {"message": "curriculum removed"}
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                curriculum not found:
                  value:
                    message: curriculum not found
                  summary: Curriculum not found
        '500':
          description: Response message
          content:
            application/json:
              example: {"message": "curriculum not removed"}
  /api/curriculum/curriculum/:
    get:
      tags:
        - curriculum
      summary: Get all curriculumns of logged professional.
      parameters:
        - in: query
          name: per_page
          schema:
            type: integer
            example: 15
            description: Quantity of results per page
          required: true
        - in: query
          name: curriculum_type
          schema:
            type: string
            example: info
            description: Curriculum type ('file' or 'info')
          required: false
      responses:
        '200':
          description: In this case "data" property contains an array of Curriculum Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResults'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found


  /api/curriculum/skill:
    post:
      tags:
        - skill - curriculum
      summary: Create a skill
      parameters:
        - in: query
          name: skill_name
          schema:
            type: string
            example: 1
            description: Tag id
          required: true
        - in: query
          name: skproficiency_level
          schema:
            type: integer
            example: 1
            description: Proficiency id
          required: true
        - in: query
          name: experience_level
          schema:
            type: number
            example: 50.50
            description: Experience level from 0 until 100
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                skill not found:
                  value:
                    message: skill not found
                  summary: Skill was not found
                invalid object id:
                  value:
                    message: $objectName is not valid
                  summary: Either skill_name or skproficiency_level was/were not found
        '500':
          description: Update error
          content:
            application/json:
              example: {"message": "skill not created"}
  /api/curriculum/skill/{skill__id}:
    put:
      tags:
        - skill - curriculum
      summary: Updates a skill
      parameters:
        - in: path
          name: skill__id
          schema:
            type: integer
            example: 1
          required: true
        - in: query
          name: skill_name
          schema:
            type: string
            example: 1
            description: Tag id
          required: true
        - in: query
          name: skproficiency_level
          schema:
            type: integer
            example: 1
            description: Proficiency id
          required: true
        - in: query
          name: experience_level
          schema:
            type: number
            example: 50.50
            description: Experience level from 0 until 100
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                skill not found:
                  value:
                    message: skill not found
                  summary: Skill was not found
                invalid object id:
                  value:
                    message: $nomeDoObjeto is not valid
                  summary: Either skill_name or skproficiency_level was/were not found
        '500':
          description: Update error
          content:
            application/json:
              example: {"message": "skill not updated"}
  /api/curriculum/skill/{skill_id}:
    get:
      tags:
        - skill - curriculum
      summary: Display the specified Skill.
      parameters:
        - in: path
          name: skill_id
          schema:
            type: integer
            example: 1
            description: skill id
          required: true
      responses:
        '200':
          description: Skill object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Skill'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                curriculum not found:
                  value:
                    message: link not found
                  summary: Curriculum not found
  /api/curriculum/skill/{skillId}:
    delete:
      tags:
        - skill - curriculum
      summary: Remove the specified skill.
      parameters:
        - in: path
          name: skillId
          schema:
            type: integer
            example: 1
            description: skill id
          required: true
      responses:
        '200':
          description: Response message
          content:
            application/json:
              example: {"message": "skill removed"}
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                skill not found:
                  value:
                    message: skill not found
                  summary: Skill not found
        '500':
          description: Response message
          content:
            application/json:
              example: {"message": "skill not removed"}
  /api/curriculum/skill/:
    get:
      tags:
        - skill - curriculum
      summary: Get all skills of logged professional Curriculum.
      parameters:
        - in: query
          name: per_page
          schema:
            type: integer
            example: 15
            description: Quantity of results per page
          required: true
      responses:
        '200':
          description: In this case "data" property contains an array of Skill Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResults'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found


  /api/curriculum/visa:
    post:
      tags:
        - visa - curriculum
      summary: Creates a visa
      parameters:
        - in: query
          name: vicountry_id
          schema:
            type: integer
            example: 1
            description: Country of  this visa
          required: true
        - in: query
          name: visa_type
          schema:
            type: integer
            example: 1
            description: Type of the visa id
          required: true
        - in: query
          name: vicurriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visa'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                invalid object id:
                  value:
                    message: $objectName is not valid
                  summary: Either vicountry_id or visa_type was/were not found
        '500':
          description: Create error
          content:
            application/json:
              example: {"message": "visa not created"}
  /api/curriculum/visa/{visa__id}:
    put:
      tags:
        - visa - curriculum
      summary: Updates a visa
      parameters:
        - in: path
          name: visa__id
          schema:
            type: integer
            example: 1
          required: true
        - in: query
          name: vicountry_id
          schema:
            type: integer
            example: 1
            description: Country of  this visa
          required: true
        - in: query
          name: visa_type
          schema:
            type: integer
            example: 1
            description: Type of the visa id
          required: true
        - in: query
          name: vicurriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visa'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                visa not found:
                  value:
                    message: visa not found
                  summary: Visa was not found
                invalid object id:
                  value:
                    message: $nomeDoObjeto is not valid
                  summary: Either skill_name or skproficiency_level was/were not found
        '500':
          description: Update error
          content:
            application/json:
              example: {"message": "visa not updated"}
  /api/curriculum/visa/{visa_id}:
    get:
      tags:
        - visa - curriculum
      summary: Display the specified Visa.
      parameters:
        - in: path
          name: visa_id
          schema:
            type: integer
            example: 1
            description: visa id
          required: true
      responses:
        '200':
          description: Visa object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visa'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                curriculum not found:
                  value:
                    message: curriculum not found
                  summary: Curriculum not found
  /api/curriculum/visa/{visaId}:
    delete:
      tags:
        - visa - curriculum
      summary: Remove the specified visa.
      parameters:
        - in: path
          name: visaId
          schema:
            type: integer
            example: 1
            description: visa id
          required: true
      responses:
        '200':
          description: Response message
          content:
            application/json:
              example: {"message": "visa removed"}
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                visa not found:
                  value:
                    message: visa not found
                  summary: visa not found
        '500':
          description: Response message
          content:
            application/json:
              example: {"message": "visa not removed"}
  /api/curriculum/visa/:
    get:
      tags:
        - visa - curriculum
      summary: Get all visas of logged professional Curriculum.
      parameters:
        - in: query
          name: per_page
          schema:
            type: integer
            example: 15
            description: Quantity of results per page
          required: true
        - in: query
          name: vicurriculum_id
          schema:
            type: integer
            example: 1
            description: The professional curriculum id
          required: false
      responses:
        '200':
          description: In this case "data" property contains an array of Visa Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResults'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
  /api/curriculum/link:
    post:
      tags:
        - link - curriculum
      summary: Create a link
      parameters:
        - in: query
          name: link_type
          schema:
            type: string
            example: youtube | linkedin | facebook | external | instagram
            description: Acceptable types -> 'youtube', 'linkedin', 'facebook', 'external', 'instagram'
          required: true
        - in: query
          name: url
          schema:
            type: integer
            example: 1
            description: Language id
          required: true
        - in: query
          name: curriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                link type not valid:
                  value:
                    message: link type not valid
                  summary: Link type is not valid
        '500':
          description: Authentication error
          content:
            application/json:
              example: {"message": "link not created"}
  /api/curriculum/link/{link__id}:
    put:
      tags:
        - link - curriculum
      summary: Update a link
      parameters:
        - in: path
          name: link__id
          schema:
            type: integer
            example: 1
          required: true
        - in: query
          name: link_type
          schema:
            type: string
            example: youtube | linkedin | facebook | external | instagram
            description: Acceptable types -> 'youtube', 'linkedin', 'facebook', 'external', 'instagram'
          required: true
        - in: query
          name: url
          schema:
            type: integer
            example: 1
            description: Language id
          required: true
        - in: query
          name: curriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                link type not valid:
                  value:
                    message: link type not valid
                  summary: Link type is not valid
        '500':
          description: Authentication error
          content:
            application/json:
              example: {"message": "link not created"}
  /api/curriculum/link/{link_id}:
    get:
      tags:
        - link - curriculum
      summary: Display the specified Link.
      parameters:
        - in: path
          name: link_id
          schema:
            type: integer
            example: 1
            description: link id
          required: true
      responses:
        '200':
          description: Link object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Link'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                curriculum not found:
                  value:
                    message: link not found
                  summary: Curriculum not found
  /api/curriculum/link/{linkId}:
    delete:
      tags:
        - link - curriculum
      summary: Remove the specified link.
      parameters:
        - in: path
          name: linkId
          schema:
            type: integer
            example: 1
            description: link id
          required: true
      responses:
        '200':
          description: Response message
          content:
            application/json:
              example: {"message": "link removed"}
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
        '500':
          description: Response message
          content:
            application/json:
              example: {"message": "link not removed"}
  /api/curriculum/link/:
    get:
      tags:
        - link - curriculum
      summary: Get all links of logged professional.
      parameters:
        - in: query
          name: per_page
          schema:
            type: integer
            example: 15
            description: Quantity of results per page
          required: true
      responses:
        '200':
          description: In this case "data" property contains an array of Link Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResults'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found


  /api/curriculum/experience:
    post:
      tags:
        - experience - curriculum
      summary: Creates a experience
      parameters:
        - in: query
          name: exjob_title
          schema:
            type: string
            example: FullStack Developer
            description: Job title of experience
          required: true
        - in: query
          name: excompany_name
          schema:
            type: string
            example: Enterprise Example
            description: Coompany name of experience
          required: true

        - in: query
          name: exstart_date
          schema:
            type: string
            example: 2024-01-01
            description: Start date of the experience
          required: true

        - in: query
          name: exend_date
          schema:
            type: string
            example: 2024-01-01
            description: End date of the experience
          required: false

        - in: query
          name: exdescription
          schema:
            type: string
            example: Enterprise Example
            description: description of the experience
          required: true

        - in: query
          name: excurriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experience'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                invalid object id:
                  value:
                    message: $objectName is not valid
        '500':
          description: Create error
          content:
            application/json:
              example: {"message": "experience not created"}
  /api/curriculum/experience/{experience__id}:
    put:
      tags:
        - experience - curriculum
      summary: Updates a experience
      parameters:
        - in: path
          name: experience__id
          schema:
            type: integer
            example: 1
            description: Experience id
          required: true
        - in: query
          name: exjob_title
          schema:
            type: string
            example: FullStack Developer
            description: Job title of experience
          required: true
        - in: query
          name: excompany_name
          schema:
            type: string
            example: Enterprise Example
            description: Coompany name of experience
          required: true
        - in: query
          name: exstart_date
          schema:
            type: string
            example: 2024-01-01
            description: Start date of the experience
          required: true
        - in: query
          name: edend_date
          schema:
            type: string
            example: 2024-01-01
            description: End date of the experience
          required: false

        - in: query
          name: exdescription
          schema:
            type: string
            example: Enterprise Example
            description: description of the experience
          required: true

        - in: query
          name: excurriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experience'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                experience not found:
                  value:
                    message: experience not found
                  summary: Experience was not found
                invalid object id:
                  value:
                    message: $nomeDoObjeto is not valid
        '500':
          description: Update error
          content:
            application/json:
              example: {"message": "experience not updated"}
  /api/curriculum/experience/{experience_id}:
    get:
      tags:
        - experience - curriculum
      summary: Display the specified Experience.
      parameters:
        - in: path
          name: experience_id
          schema:
            type: integer
            example: 1
            description: experience id
          required: true
      responses:
        '200':
          description: Experience object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Experience'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                curriculum not found:
                  value:
                    message: curriculum not found
                  summary: Curriculum not found
  /api/curriculum/experience/{experienceId}:
    delete:
      tags:
        - experience - curriculum
      summary: Remove the specified experience.
      parameters:
        - in: path
          name: experienceId
          schema:
            type: integer
            example: 1
            description: experience id
          required: true
      responses:
        '200':
          description: Response message
          content:
            application/json:
              example: {"message": "experience removed"}
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                experience not found:
                  value:
                    message: experience not found
                  summary: experience not found
        '500':
          description: Response message
          content:
            application/json:
              example: {"message": "experience not removed"}
  /api/curriculum/experience/:
    get:
      tags:
        - experience - curriculum
      summary: Get all experiences of logged professional Curriculum.
      parameters:
        - in: query
          name: per_page
          schema:
            type: integer
            example: 15
            description: Quantity of results per page
          required: true
        - in: query
          name: excurriculum_id
          schema:
            type: integer
            example: 1
            description: The professional curriculum id
          required: false
      responses:
        '200':
          description: In this case "data" property contains an array of Experience Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResults'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found

  /api/curriculum/education:
    post:
      tags:
        - education - curriculum
      summary: Creates a education
      parameters:
        - in: query
          name: eddegree
          schema:
            type: string
            example: Bacheelor
            description: Degree of education
          required: true
        - in: query
          name: edfield_of_study
          schema:
            type: integer
            example: 1
            description: Field of Study
          required: true
        - in: query
          name: edinstitution
          schema:
            type: integer
            example: Stanford
            description: Field of Study
          required: true
        - in: query
          name: edstart_date
          schema:
            type: string
            example: 2024-01-01
            description: Start date of the education
          required: true
        - in: query
          name: edend_date
          schema:
            type: string
            example: 2024-01-01
            description: End date of the education
          required: false
        - in: query
          name: eddescription
          schema:
            type: string
            example: Education Description Example
            description: description of the education
          required: true
        - in: query
          name: edcurriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Education'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                invalid object id:
                  value:
                    message: $objectName is not valid
        '500':
          description: Create error
          content:
            application/json:
              example: {"message": "education not created"}
  /api/curriculum/education/{education__id}:
    put:
      tags:
        - education - curriculum
      summary: Updates a education
      parameters:
        - in: path
          name: education__id
          schema:
            type: integer
            example: 1
            description: Education id
          required: true
        - in: query
          name: eddegree
          schema:
            type: string
            example: Bacheelor
            description: Degree of education
          required: true
        - in: query
          name: edfield_of_study
          schema:
            type: integer
            example: Filed Example
            description: Field of Study
          required: true
        - in: query
          name: edinstitution
          schema:
            type: integer
            example: Stanford
            description: Field of Study
          required: true
        - in: query
          name: edstart_date
          schema:
            type: string
            example: 2024-01-01
            description: Start date of the education
          required: true
        - in: query
          name: edend_date
          schema:
            type: string
            example: 2024-01-01
            description: End date of the education
          required: false
        - in: query
          name: eddescription
          schema:
            type: string
            example: Education Description Example
            description: description of the education
          required: true
        - in: query
          name: edcurriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Education'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                education not found:
                  value:
                    message: education not found
                  summary: Education was not found
                invalid object id:
                  value:
                    message: $nomeDoObjeto is not valid
        '500':
          description: Update error
          content:
            application/json:
              example: {"message": "education not updated"}
  /api/curriculum/education/{education_id}:
    get:
      tags:
        - education - curriculum
      summary: Display the specified Education.
      parameters:
        - in: path
          name: education_id
          schema:
            type: integer
            example: 1
            description: education id
          required: true
      responses:
        '200':
          description: Education object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Education'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                curriculum not found:
                  value:
                    message: curriculum not found
                  summary: Curriculum not found
  /api/curriculum/education/{educationId}:
    delete:
      tags:
        - education - curriculum
      summary: Remove the specified education.
      parameters:
        - in: path
          name: educationId
          schema:
            type: integer
            example: 1
            description: education id
          required: true
      responses:
        '200':
          description: Response message
          content:
            application/json:
              example: {"message": "education removed"}
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                education not found:
                  value:
                    message: education not found
                  summary: education not found
        '500':
          description: Response message
          content:
            application/json:
              example: {"message": "education not removed"}
  /api/curriculum/education/:
    get:
      tags:
        - education - curriculum
      summary: Get all educations of logged professional Curriculum.
      parameters:
        - in: query
          name: per_page
          schema:
            type: integer
            example: 15
            description: Quantity of results per page
          required: true
        - in: query
          name: edcurriculum_id
          schema:
            type: integer
            example: 1
            description: The professional curriculum id
          required: false
      responses:
        '200':
          description: In this case "data" property contains an array of Education Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResults'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found

  /api/curriculum/certification:
    post:
      tags:
        - certification - curriculum
      summary: Creates a certification
      parameters:
        - in: query
          name: certification_name
          schema:
            type: string
            example: ZCPE
            description: Certification Name
          required: true
        - in: query
          name: cerissuing_organization
          schema:
            type: string
            example: Zend
            description: Certification issuing organization
          required: true
        - in: query
          name: cerissue_date
          schema:
            type: string
            example: 2024-01-01
            description: Issue certification date
          required: true
        - in: query
          name: cert_hours
          schema:
            type: integer
            example: 86
            description: Hours of the certification
          required: true
        - in: query
          name: cerdescription
          schema:
            type: string
            example: Ceeretification Zend for PHP development.
            description: Certification description
          required: true
        - in: query
          name: cerlink
          schema:
            type: string
            example: http://framework.zend.com
            description: Certificatin Link.
          required: true

        - in: query
          name: cercurriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certification'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                invalid object id:
                  value:
                    message: $objectName is not valid
        '500':
          description: Create error
          content:
            application/json:
              example: {"message": "certification not created"}
  /api/curriculum/certification/{certification__id}:
    put:
      tags:
        - certification - curriculum
      summary: Updates a certification
      parameters:
        - in: path
          name: certification__id
          schema:
            type: integer
            example: 1
            description: Certification id
          required: true
        - in: query
          name: certification_name
          schema:
            type: string
            example: ZCPE
            description: Certification Name
          required: true
        - in: query
          name: cerissuing_organization
          schema:
            type: string
            example: Zend
            description: Certification issuing organization
          required: true
        - in: query
          name: cerissue_date
          schema:
            type: string
            example: 2024-01-01
            description: Issue certification date
          required: true
        - in: query
          name: cert_hours
          schema:
            type: integer
            example: 86
            description: Hours of the certification
          required: true
        - in: query
          name: cerdescription
          schema:
            type: string
            example: Ceeretification Zend for PHP development.
            description: Certification description
          required: true
        - in: query
          name: cerlink
          schema:
            type: string
            example: http://framework.zend.com
            description: Certificatin Link.
          required: true

        - in: query
          name: cercurriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certification'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                certification not found:
                  value:
                    message: certification not found
                  summary: Certification was not found
                invalid object id:
                  value:
                    message: $nomeDoObjeto is not valid
        '500':
          description: Update error
          content:
            application/json:
              example: {"message": "certification not updated"}
  /api/curriculum/certification/{certification_id}:
    get:
      tags:
        - certification - curriculum
      summary: Display the specified Certification.
      parameters:
        - in: path
          name: certification_id
          schema:
            type: integer
            example: 1
            description: certification id
          required: true
      responses:
        '200':
          description: Certification object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certification'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                curriculum not found:
                  value:
                    message: curriculum not found
                  summary: Curriculum not found
  /api/curriculum/certification/{certificationId}:
    delete:
      tags:
        - certification - curriculum
      summary: Remove the specified certification.
      parameters:
        - in: path
          name: certificationId
          schema:
            type: integer
            example: 1
            description: certification id
          required: true
      responses:
        '200':
          description: Response message
          content:
            application/json:
              example: {"message": "certification removed"}
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found
                  summary: Logged person account professional profile not found
                certification not found:
                  value:
                    message: certification not found
                  summary: certification not found
        '500':
          description: Response message
          content:
            application/json:
              example: {"message": "certification not removed"}
  /api/curriculum/certification/:
    get:
      tags:
        - certification - curriculum
      summary: Get all certifications of logged professional Curriculum.
      parameters:
        - in: query
          name: per_page
          schema:
            type: integer
            example: 15
            description: Quantity of results per page
          required: true
        - in: query
          name: cercurriculum_id
          schema:
            type: integer
            example: 1
            description: The professional curriculum id
          required: false
      responses:
        '200':
          description: In this case "data" property contains an array of Certification Objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResults'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
                  value:
                    message: no professional found

  /api/curriculum/presentation:
    post:
      tags:
        - presentation - curriculum
      summary: Creates a presentation
      parameters:
        - in: query
          name: presentation_text
          schema:
            type: string
            example: Presentation example text.
            description: Presentation Text.
          required: true

        - in: query
          name: precurriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Presentation'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                invalid object id:
                  value:
                    message: $objectName is not valid
        '500':
          description: Create error
          content:
            application/json:
              example: {"message": "presentation not created"}
  /api/curriculum/presentation/{presentation__id}:
    put:
      tags:
        - presentation - curriculum
      summary: Updates a presentation
      parameters:
        - in: path
          name: presentation__id
          schema:
            type: integer
            example: 1
          required: true
        - in: query
          name: presentation_text
          schema:
            type: string
            example: Presentation example text.
            description: Presentation Text.
          required: true

        - in: query
          name: precurriculum_id
          schema:
            type: integer
            example: 1
            description: Curriculum id
          required: true
      responses:
        '200':
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Presentation'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                presentation not found:
                  value:
                    message: presentation not found
                  summary: Presentation was not found
                invalid object id:
                  value:
                    message: $nomeDoObjeto is not valid
        '500':
          description: Update error
          content:
            application/json:
              example: {"message": "presentation not updated"}
  /api/curriculum/presentation/{presentation_id}:
    get:
      tags:
        - presentation - curriculum
      summary: Display the specified Presentation.
      parameters:
        - in: path
          name: presentation_id
          schema:
            type: integer
            example: 1
            description: presentation id
          required: true
      responses:
        '200':
          description: Presentation object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Presentation'
        '400':
          description: Invalid parameters
          content:
            application/json:
              examples:
                no professional found:
[...]
